@charset  'UTF-8';

section.formulario{
    padding: 80px 4%;

}

h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    max-width: 250px;
    margin: 0px auto;
    font-weight: bold;
    
}

form{
    max-width: 500px;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

form input{
    width: 100%;
    background-color: rgb(8, 192, 115);
    border: 0px;                              /*para retirar as bordas*/
    outline: 0px;                     /*para retirar as bordas de dentro*/
    padding: 20px 15px;  
    border-radius: 15px; 
    font-size: 18px;                        

}

textarea{
    width: 100%;
    
}