
:root{
    --cor01: #421604;
    --cor02: #1f0901;
    --font-family: "Poppins", sans-serif;
}



*{
    margin: 0px;
    padding: 0px;
    text-decoration:none;
    border: none;
}

section{
    padding: 3rem;
    margin: 0 auto;
    max-width: 1200px;
}

body{
    background-color: var(--cor02);
    font-family: var(--font-family);
}

.cabeçalho{
    background-color: var(--cor01);
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 99%;
    border-bottom: solid 1px rgb(255, 244, 244);
}

.logo img{
    width: 90px;
}

.logo img:hover{
    cursor: pointer;
    width: 92px;
    transition: 0.2;

}


.cabeçalho section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

}

.navbar a {
    margin: 0 2.5rem;
    color: white;
    font-size: 1.rem;
    cursor: pointer;

}

.navbar a:hover{
    color: #d89f01;
    font-size: 1.2rem;
    transition: 0.2s;
}


.icons img{
    margin: 15px;
    margin-right: 30px;
    width: 20px;
    cursor: pointer;


}

.icons img:hover{
    color: #d89f01;
    width: 25px;
    transition: 0.2s;
}

.btn{
    background-color: #d89f01;
    color: white;
    padding: 1rem 1.2rem;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 1rem;
    border-radius: 5px;
    display: inline-block;
    font-weight: bold;
}

.btn:hover{
    font-size: 1rem;
    background-color: #b13704;
    transition: 1s;
    

}

.home-container{
    background: url("imagen/pizza-1.jpg");
    background-position: center;
    background-size: cover;
    height: 95vh;
    border-bottom: 1px solid #ffffff;
    



}

.home-container section{
    display: flex;
    align-items: center;
    min-height: 100vh;
    margin-bottom: -150px;
}

.content{
    max-width: 100rem;
}

.content h1{
    font-family: var(--font-family);
    font-size: 55px;
    padding-bottom: 20px;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.664);
}

.content p{
    font-family: var(--font-family);
    font-size: 20px;
    color:#fac83f;
    padding-bottom: 20px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.986);

}

/*sector do hamburguer*/

.title{
    align-items: center;
    font-size: 2.3em;
    color: #d89f01;
    text-align: center;
    text-transform: uppercase;
    margin-top: 40px;
    padding-bottom: 30px;
    margin-right: 150px;

}


.title span{
    color: white;
    text-transform: uppercase;
    margin-bottom: 10;
    
}

.about .row{
    display: inline-block;
    align-items: center;
    background-color: #1d1c1c2a;
    gap: 20px;
    margin-left: 150px;


}

.container-image img{
      display: inline-block;
      align-items: center;
      padding-top: -90px;
      border-radius: 12px;
      height: 250px;
      border: 2px solid #836001;
      
}
.about .title{
    display: -moz-inline-grid;
    align-items: center;
}

.about .row .content h2{
    color: white;
    font-size: 20px;
    margin-top: 10px;
    padding-bottom: 10px;

}

.about .row .content p{
    color:#d89f01;
    font-size: 15px;
    align-items: center;
}

.about .content .btn{
    background-color: #d89f01;
    color: white;
    padding: 0.7rem 1rem;
    font-size: 0.9rem;
    cursor: pointer;
    margin-top: 1rem;
    border-radius: 5px;
    display: inline-block;
    font-weight: bold;
}

.about .content .btn:hover{
    font-size: 1rem;
    background-color: #b13704;
    transition: 1s;
}

/*Sector do menu*/


.box-container{
    display:grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    margin-top: 10px;
    margin-left: 100px;
    
}

.menu-title h2{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 0px;
    color: #d89f01;
    font-size: 3rem;
}

.menu-title span{
    color: #ffffff;
}



.menu .box-container .box img{
    height: 16rem;
    border-radius: 15px;
    border: 3px solid #a07603;
    cursor: pointer;
    
}

.box-container .box img:hover{ 
    border: 3px solid #ffffff;
    height: 16.0rem;
    transition: 0.6s;
}




.menu .box-container .box h3{
    color: #d89f01;
    font-size: 1rem;
    text-align: center;
    padding: 1rem;
    margin-right: 40px;
}

.menu .box-container .box .price{
    color: #ffffff;
    text-align: center;
    margin-right: 20px;
}

.menu .box-container .box span{
    color: #b13704;
    text-decoration: line-through;
    font-size: 0.8rem;
}

.btn{
    text-align: center;
    margin-left: 70px;
    margin-bottom: 70px;
}

/*section cliente*/

.review{
    margin-left: 450px;
    display: inline-block;
    align-items: center;

}
.box-container-clientes{
    display: inline-block;
    align-items: center;
    border: 20px;
    border: 2px solid #a07603;
    margin-top: 10px;
    margin: 5px;
    max-width: 300px;
}


.box-container-clientes .box-img{
    margin-left: 50px;
    border-radius: 50%;
    
    
}

.box-container-clientes >img{
    margin-left: 120px;
    margin-top: 50px;
    border-radius: 50%;
    
}

.box-container-clientes .icons-clientes{
    margin-left: 70px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.review h1{
    font-size: 35px;
    text-align: center;
    color: #fac83f;
    margin-top: 50px;
    margin-bottom: 50px;
}


.review span{
    color: #ffffff;
}

.box-img > h3{
    color: #d89f01;
    margin-left: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.review .box-container-clientes > p{
    text-align: center;
    font-size: 12px;
    color: #ffffff;
    padding-top: 40px;
    padding-bottom: 20px;
}


    
/*sectore address*/

.address {
    align-items: center;
    margin-left: 250px;
    margin-top: 20px;
    margin-bottom: 50px;
    
}

.mapa  .mapa-cafe{
    align-items: center;
    margin-left: 350px;
    margin-top: 10px;
   
}

.mapa-cafe{
    border: 2px solid #d89f01;
    margin-right: 245px;
    margin-top: 20px;
    
}

.mapa >h2{
    text-align: center;
    margin-left: 300px;
    margin-top: 80px;
    margin-bottom: 20px;
}

/*sectore rodapé*/

.footer{
    background-color: #b13704;
    align-items: center;
    padding: 10px;
    
    
}

.share{
    display: inline-block;
    margin-left: 1300px;
    

        
}

.share img{
    margin-left: 5px;
    margin-bottom: 10px;
    padding-top: 10px;

}

.footer h3{
    text-align: center;
    font-size: 15px;
    color: #ffffff;
    padding-top: 10px;
    margin-bottom: -35px;

}

.footer span{
    color: #fac83f;
    
}