@charset "UTF -8";

body { font-family: Arial, Helvetica, sans-serif;
background-color: rgb(255, 255, 255);
margin: 0px;
}

div {
padding: 10px;
margin: 0px;
color: white;
}


menu {
    display: none;
}

menu > ul {
    list-style-type: none;
}




h1 {
text-align: center;
color: white;
margin: 0px;
margin-bottom: 0px;
margin-top: 0px;
}

header {
background-color: #c4170c;
padding: 0px;
margin: 0px;

}

img {
padding: 0px;
margin-inline: 50px;
margin-top: 0px;
margin-bottom: 10px;
}



nav {
background-color: rgb(110, 108, 108);
padding: 5px;
box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.637);

}

nav > a {
text-decoration: none;
color: white;
font-weight: bold;
margin: 50px;
}

nav > :hover {
text-decoration: underline;
}

main {
background-color: white;
padding: 10px;
margin: 10px;
border-radius: 10px 0px 10px 0px;
}

article {
background-color: lightgray;
padding: 5px;
}

article > aside {
background-color: rgb(138, 135, 135);
}

span {
    width: 100px;
    color: #c4170c;
    
}




span {
    scroll-behavior: smooth;
}
footer {
background-color: black;
color: white;
text-align: center;
padding: 4px;
margin: 0px;
}

footer > p {
margin: 0px;
}